<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geoportal Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="font-sans">
    <!-- Sidebar -->
    <div class="flex flex-col md:flex-row h-screen">
      <aside class="w-full md:w-64 bg-gray-800 p-6">
        <div class="flex items-center mb-8">
          <div class="text-blue-500 text-2xl font-semibold">Administrador</div>
        </div>
        <nav class="space-y-2">
          <a
            href="#"
            class="flex items-center p-2 text-gray-300 hover:bg-gray-700 rounded-md"
          >
            <span>Unidades Médicas</span>
          </a>
          <a
            href="#"
            class="flex items-center p-2 text-gray-300 bg-gray-700 rounded-md"
          >
            <span>Clínicas Médicas</span>
          </a>
          <a
            href="/logout"
            class="flex items-center p-2 text-gray-300 hover:bg-gray-700 rounded-md"
          >
            <span>Cerrar Sesión</span>
          </a>
        </nav>
      </aside>

      <!-- Main content -->
      <div class="flex-1 p-6 w-full overflow-x-auto">
        <div class="flex justify-between items-center mb-6">
          <h1 class="text-2xl font-semibold">Gestión de Clínicas Médicas</h1>
          <!-- Botón para agregar clínica -->
          <button
            onclick="toggleModal('addClinicModal')"
            class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md"
          >
            Agregar Clínica Médica
          </button>
        </div>

        <div id="clinicTable" class="mt-6"></div>

        <div
          id="loadingMessage"
          class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 text-white hidden"
        >
          <span class="text-lg">Cargando...</span>
        </div>

        <!-- Modal para agregar clínica -->
        <div
          id="addClinicModal"
          class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center"
        >
          <div class="bg-gray-900 max-w-full p-6 rounded-lg">
            <form onsubmit="addClinic(event)">
              <!-- Botón para cerrar -->
              <button
                class="flex w-full items-center justify-end text-white"
                onclick="toggleModal('addClinicModal')"
              >
                <p class="pr-4 text-xl font-bold hover:opacity-75">
                  <i class="fa-solid fa-xmark text-2xl"></i>
                </p>
              </button>
              <h2
                id="title-modal"
                class="text-2xl font-semibold text-center text-white mb-6"
              >
                Agregar Clínica Médica
              </h2>
              <div
                class="max-w-lg mx-auto bg-gray-800 p-6 grid gap-6 grid-cols-2 rounded-lg"
              >
                <!-- Parte 1: Información General -->
                <div class="">
                  <div class="mb-4">
                    <label
                      for="clinicName"
                      class="block text-sm mb-2 font-medium text-gray-300"
                      >Nombre de la Clínica</label
                    >
                    <input
                      type="text"
                      id="clinicName"
                      class="w-full px-3 py-2 bg-gray-700 text-white rounded-md"
                      required
                    />
                  </div>
                  <div class="mb-4">
                    <label
                      for="clinicAddress"
                      class="block text-sm font-medium mb-2 text-gray-300"
                      >Dirección</label
                    >
                    <input
                      type="text"
                      id="clinicAddress"
                      class="w-full px-3 py-2 bg-gray-700 text-white rounded-md"
                      required
                    />
                  </div>
                  <div class="mb-4">
                    <label
                      for="clinicAddress"
                      class="block text-sm font-medium mb-2 text-gray-300"
                      >Municipio</label
                    >
                    <input
                      type="text"
                      id="municipality"
                      class="w-full px-3 py-2 bg-gray-700 text-white rounded-md"
                      required
                    />
                  </div>
                  <div class="mb-4">
                    <label
                      for="clinicStartWeekend"
                      class="block text-sm font-medium mb-2 text-gray-300"
                      >Horario Inicio Fin de Semana</label
                    >
                    <input
                      type="time"
                      id="clinicStartWeekend"
                      class="w-full px-3 py-2 bg-gray-700 text-white rounded-md"
                      required
                    />
                  </div>
                  <div class="mb-4">
                    <label
                      for="clinicEndWeekend"
                      class="block text-sm font-medium mb-2 text-gray-300"
                      >Horario Fin de Fin de Semana
                    </label>
                    <input
                      type="time"
                      id="clinicEndWeekend"
                      class="w-full px-3 py-2 bg-gray-700 text-white rounded-md"
                      required
                    />
                  </div>
                </div>

                <!-- Parte 2: Información Adicional -->
                <div class="">
                  <div class="mb-4">
                    <label
                      for="clinicXCoord"
                      class="block mb-2 text-sm font-medium text-gray-300"
                      >Coordenada X</label
                    >
                    <input
                      type="number"
                      step="any"
                      id="clinicXCoord"
                      class="w-full px-3 py-2 bg-gray-700 text-white rounded-md"
                      required
                    />
                  </div>
                  <div class="mb-4">
                    <label
                      for="clinicYCoord"
                      class="block text-sm mb-2 font-medium text-gray-300"
                      >Coordenada Y</label
                    >
                    <input
                      type="number"
                      step="any"
                      id="clinicYCoord"
                      class="w-full px-3 py-2 bg-gray-700 text-white rounded-md"
                      required
                    />
                  </div>
                  <div class="mb-4">
                    <label
                      for="clinicZone"
                      class="block text-sm font-medium mb-2 text-gray-300"
                      >Zona</label
                    >
                    <input
                      type="text"
                      id="clinicZone"
                      class="w-full px-3 py-2 bg-gray-700 text-white rounded-md"
                      required
                    />
                  </div>
                  <div class="mb-4">
                    <label
                      for="clinicStartWeek"
                      class="block text-sm font-medium mb-2 text-gray-300"
                      >Horario Inicio de Semana</label
                    >
                    <input
                      type="time"
                      id="clinicStartWeek"
                      class="w-full px-3 py-2 bg-gray-700 text-white rounded-md"
                      required
                    />
                  </div>
                  <div class="mb-4">
                    <label
                      for="clinicEndWeek"
                      class="block text-sm font-medium mb-2 text-gray-300"
                      >Horario Fin de Semana</label
                    >
                    <input
                      type="time"
                      id="clinicEndWeek"
                      class="w-full px-3 py-2 bg-gray-700 text-white rounded-md"
                      required
                    />
                  </div>
                </div>
              </div>
              <div
                class="text-center w-full mt-5 flex justify-center items-center"
              >
                <button
                  type="submit"
                  class="px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700"
                >
                  Agregar Clínica
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"
    ></script>
    <script>
      // Llama a la función cuando se cargue la página
      document.addEventListener("DOMContentLoaded", loadTable);

      // Función para inicializar la tabla
      async function loadTable() {
        document.getElementById("loadingMessage").classList.remove("hidden");
        try {
          const response = await fetch("/clinicaComunal/all"); // Obtén datos del backend
          const clinic = await response.json(); // Convierte la respuesta a JSON

          // Configuración de Tabulator
          const table = new Tabulator("#clinicTable", {
            data: clinic, // Datos JSON de las clínicas
            layout: "fitData",
            placeholder: "No hay datos disponibles",
            scrollHorizontal: true,
            height: "90%",
            initialSort: [{ column: "id", dir: "desc" }],
            columns: [
              { title: "ID", field: "id", width: 50, sorter: "number" },
              { title: "Nombre", field: "nombre" },
              { title: "Dirección", field: "direccion" },
              { title: "Coordenada X", field: "coorX" },
              { title: "Coordenada Y", field: "coorY" },
              { title: "Zona", field: "zona" },
              { title: "Municipio", field: "municipio" },
              {
                title: "Horario de Semana",
                field: "horarioSemana",
                formatter: function (cell) {
                  const data = cell.getData();
                  return `${data.horarioInicioSemana || ""} - ${
                    data.horarioFinSemana || ""
                  }`;
                },
              },
              {
                title: "Horario Fin de Semana",
                field: "horarioFinSemana",
                formatter: function (cell) {
                  const data = cell.getData();
                  return `${data.horarioInicioFinde || ""} - ${
                    data.horarioFinFinde || ""
                  }`;
                },
              },
              {
                title: "Acciones",
                field: "acciones",
                width: 100,
                formatter: function (cell) {
                  const data = cell.getRow().getData();
                  return `
                        <div class="flex items-center justify-center w-full">
                            <button class="hover:opacity-75 mr-2" onclick="editClinic(
                                '${data.id}',
                                '${data.nombre}',
                                '${data.direccion}',
                                '${data.coorX}',
                                '${data.coorY}',
                                '${data.zona}',
                                '${data.horarioInicioSemana}',
                                '${data.horarioFinSemana}',
                                '${data.horarioInicioFinde}',
                                '${data.horarioFinFinde}',
                                '${data.municipio}'
                            )">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button class="text-red-500 hover:text-red-700" onclick="deleteClinic('${data.id}')">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    `;
                },
              },
            ],
          });
        } catch (error) {
          console.error("Error al cargar los datos:", error);
        } finally {
          document.getElementById("loadingMessage").classList.add("hidden");
        }
      }

      function toggleModal(modalId) {
        const modal = document.getElementById(modalId);
        if (!modal.classList.contains("hidden")) {
          clearInput();
        }
        modal.classList.toggle("hidden");
      }

      function clearInput() {
        document.getElementById("clinicName").value = "";
        document.getElementById("clinicAddress").value = "";
        document.getElementById("clinicXCoord").value = "";
        document.getElementById("clinicYCoord").value = "";
        document.getElementById("clinicZone").value = "";
        document.getElementById("clinicStartWeek").value = "";
        document.getElementById("clinicEndWeek").value = "";
        document.getElementById("clinicStartWeekend").value = "";
        document.getElementById("clinicEndWeekend").value = "";
      }

      async function addClinic(event) {
        event.preventDefault();

        const button = event.target.querySelector("button[type='submit']");
        button.disabled = true;
        button.textContent = "Agregando...";

        // Obtener valores del formulario
        const name = document.getElementById("clinicName").value;
        const address = document.getElementById("clinicAddress").value;
        const xCoordinate = document.getElementById("clinicXCoord").value;
        const yCoordinate = document.getElementById("clinicYCoord").value;
        const zone = document.getElementById("clinicZone").value;
        const weekStart = document.getElementById("clinicStartWeek").value;
        const weekEnd = document.getElementById("clinicEndWeek").value;
        const weekendStart =
          document.getElementById("clinicStartWeekend").value;
        const weekendEnd = document.getElementById("clinicEndWeekend").value;
        const municipality = document.getElementById("municipality").value;

        const data = {
          nombre: name,
          direccion: address,
          coorX: xCoordinate,
          coorY: yCoordinate,
          zona: zone,
          horarioInicioSemana: weekStart,
          horarioFinSemana: weekEnd,
          municipio: municipality,
          horarioInicioFinde: weekendStart,
          horarioFinFinde: weekendEnd,
        };

        try {
          // Crear la tarjeta de la clínica
          const response = await fetch("/clinicaComunal/add", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });

          if (!response.ok) {
            throw new Error("Error al agregar la clínica");
          }

          // Recargar la tabla
          loadTable();

          // Limpiar formulario y cerrar modal
          clearInput();
          toggleModal("addClinicModal");

          alert("Clínica agregada correctamente.");
        } catch (error) {
          console.error("Error al agregar la clínica:", error);
          alert("Hubo un error al agregar la clínica.");
        } finally {
          button.disabled = false;
          button.textContent = "Agregar Clínica";
        }
      }

      function editClinic(
        id,
        name,
        address,
        xCoordinate,
        yCoordinate,
        zone,
        weekStart,
        weekEnd,
        weekendStart,
        weekendEnd,
        municipality
      ) {
        document.getElementById("clinicName").value = name;
        document.getElementById("clinicAddress").value = address;
        document.getElementById("clinicXCoord").value = xCoordinate;
        document.getElementById("clinicYCoord").value = yCoordinate;
        document.getElementById("clinicZone").value = zone;
        document.getElementById("clinicStartWeek").value = weekStart;
        document.getElementById("clinicEndWeek").value = weekEnd;
        document.getElementById("clinicStartWeekend").value = weekendStart;
        document.getElementById("clinicEndWeekend").value = weekendEnd;
        document.getElementById("municipality").value = municipality;

        document.getElementById("title-modal").innerText =
          "Editar Clínica Médica";

        const submitButton = document.querySelector(
          "form button[type='submit']"
        );
        submitButton.innerText = "Guardar Cambios";

        submitButton.onclick = (event) => editModalClinic(event, id);

        // Abrir el modal para editar
        toggleModal("addClinicModal");
      }

      async function editModalClinic(event, clinicId) {
        event.preventDefault();

        const button = document.querySelector("form button[type='submit']");

        console.log(button);

        button.disabled = true;
        button.textContent = "Actualizando...";

        // Obtener valores del formulario
        const name = document.getElementById("clinicName").value;
        const address = document.getElementById("clinicAddress").value;
        const xCoordinate = document.getElementById("clinicXCoord").value;
        const yCoordinate = document.getElementById("clinicYCoord").value;
        const zone = document.getElementById("clinicZone").value;
        const weekStart = document.getElementById("clinicStartWeek").value;
        const weekEnd = document.getElementById("clinicEndWeek").value;
        const weekendStart =
          document.getElementById("clinicStartWeekend").value;
        const weekendEnd = document.getElementById("clinicEndWeekend").value;
        const municipality = document.getElementById("municipality").value;

        const data = {
          nombre: name,
          direccion: address,
          coorX: xCoordinate,
          coorY: yCoordinate,
          zona: zone,
          horarioInicioSemana: weekStart,
          horarioFinSemana: weekEnd,
          municipio: municipality,
          horarioInicioFinde: weekendStart,
          horarioFinFinde: weekendEnd,
        };

        try {
          // Mostrar el mensaje de carga
          loadingMessage.classList.remove("hidden");

          // Enviar solicitud PUT al endpoint correcto con el ID de la clínica
          const response = await fetch(`/clinicaComunal/update/${clinicId}`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });

          if (!response.ok) {
            throw new Error("Error al editar la clínica");
          }

          // Recargar la tabla
          loadTable();

          // Limpiar formulario y cerrar modal
          clearInput();
          toggleModal("addClinicModal");

          alert("Clínica editada correctamente.");
        } catch (error) {
          console.error("Error al editar la clínica:", error);
          alert("Hubo un error al editar la clínica.");
        } finally {
          button.disabled = false;
          button.textContent = "Guardar Cambios";
        }
      }

      async function deleteClinic(id) {
        // Obtener el elemento del mensaje de carga
        const loadingMessage = document.getElementById("loadingMessage");

        // Confirmar eliminación
        if (!confirm("¿Estás seguro de eliminar esta clínica?")) {
          return;
        }

        try {
          // Mostrar el mensaje de carga
          loadingMessage.classList.remove("hidden");

          // Hacer la solicitud de eliminación
          const response = await fetch(`/clinicaComunal/delete/${id}`, {
            method: "DELETE",
          });

          if (!response.ok) {
            console.error("Error al eliminar la clínica");
            alert("Hubo un error al eliminar la clínica.");
            return;
          }

          // Recargar la tabla después de eliminar
          loadTable();
        } catch (error) {
          console.error("Error al eliminar la clínica:", error);
          alert("Hubo un error inesperado al eliminar la clínica.");
        } finally {
          // Ocultar el mensaje de carga
          loadingMessage.classList.add("hidden");
        }
      }
    </script>
  </body>
</html>
